@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  position: relative;
}

@font-face {
  font-family: "rajdhani";
  src: url("../polices/Rajdhani-Medium.ttf");
}
@font-face {
  font-family: "space grotesk bold";
  src: url("../polices/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "space grotesk regular";
  src: url("../polices/SpaceGrotesk-Regular.ttf");
}
.vertical-icons {
  position: fixed;
  right: 0;
  margin-right: 88px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.vertical-icons a .social-network {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: scale(0.8);
}
.vertical-icons a .social-network:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}
.vertical-icons .bat-icon {
  transform: scale(3);
  margin-top: 20px;
  margin-bottom: 20px;
}
.vertical-icons .bat-icon:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}
.vertical-icons img {
  width: 30px;
}

@media screen and (max-width: 600px) {
  .vertical-icons {
    position: fixed;
    right: 0;
    margin-right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .vertical-icons a .social-network {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(0.8);
  }
  .vertical-icons a .social-network .social-network:hover {
    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  }
  .vertical-icons .bat-icon {
    transform: scale(2.5);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vertical-icons .bat-icon:hover {
    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  }
  .vertical-icons img {
    width: 30px;
  }
}
.line-left {
  position: absolute;
  left: 0;
  margin-left: 102px;
  height: 100%;
  width: 3px;
  background-color: rgba(196, 196, 196, 0.2);
  z-index: 1;
}

.line-right {
  position: absolute;
  right: 0;
  margin-right: 102px;
  height: 100%;
  width: 3px;
  background-color: rgba(196, 196, 196, 0.2);
  z-index: 1;
}

header {
  background-image: url("../Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  border: 1px solid transparent;
}
header .down-header {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}

nav {
  display: flex;
  position: relative;
  height: 132px;
  align-items: center;
  overflow: visible;
  border-bottom: 3px solid rgba(196, 196, 196, 0.2);
  margin: 0 102px 0 102px;
}

nav .home-icon {
  padding: 0 5px;
  margin-left: 50px;
  transition: 0.3s;
}
nav .home-icon img:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}
nav .menu {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 50px;
}
nav .menu .menu-home {
  display: flex;
}
nav .menu .menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fdfcfc;
  font-family: "rajdhani", sans-serif;
  font-size: 20px;
}
nav .menu .menu-button a {
  text-decoration: none;
  color: white;
}
nav .menu .menu-button:hover,
nav .menu .menu-button:focus {
  text-decoration: underline;
  color: #f8f184;
  font-weight: bold;
}
nav .menu .menu-dropdown {
  display: none;
  white-space: nowrap;
}
nav .menu .menu-dropdown li {
  display: flex;
}
nav .menu .menu-dropdown li a {
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  font-family: "space grotesk regular", sans-serif;
  color: #C4C4C4;
}
nav .menu .menu-dropdown li a:hover {
  text-decoration: underline;
  color: #f8f184;
}
nav .menu .menu-home:hover .menu-dropdown,
nav .menu .menu-home:focus .menu-dropdown {
  position: absolute;
  display: block;
  background-color: rgba(13, 14, 9, 0.7450980392);
  margin-top: 20px;
  padding: 10px;
  margin-left: -100px;
}
nav .menu .menu-game .game-button {
  background: none;
  border: none;
  color: #fdfcfc;
  font-family: "rajdhani", sans-serif;
  font-size: 20px;
  right: 0;
  padding-left: 50px;
}
nav .menu .menu-game .game-button a {
  text-decoration: none;
  color: white;
}
nav .menu .menu-game .game-button a:hover {
  text-decoration: underline;
  color: #f8f184;
  font-weight: bold;
}
nav .menu .active a {
  text-decoration: underline;
  color: #f8f184;
  font-weight: bold;
}

.header-container {
  position: relative;
  width: 50%;
  margin: auto;
  margin-top: 300px;
  margin-bottom: 300px;
  text-align: center;
}
.header-container p {
  font-family: "space grotesk regular", sans-serif;
  color: white;
  padding-bottom: 50px;
}
.header-container .header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-container .header-buttons a {
  text-decoration: none;
  color: white;
}
.header-container .header-buttons button {
  width: 170px;
  padding: 10px 0;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  font-family: "rajdhani", sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, rgba(237, 220, 239, 0.25) 40%, rgba(237, 220, 239, 0.1) 70%);
}
.header-container .header-buttons button:hover {
  background: linear-gradient(to right, rgba(237, 220, 239, 0.6), rgba(237, 220, 239, 0.2));
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
}

section {
  margin-top: 75px;
  position: relative;
}
section .section-container {
  margin-left: 102px;
  margin-right: 102px;
}
section .section-container .section-content {
  margin-left: 75px;
  margin-right: 150px;
  color: white;
  text-align: justify;
  padding-bottom: 30px;
}
section .section-container .section-content .nemesis {
  position: relative;
  display: flex;
  padding-top: 80px;
  width: 220px;
}
section .section-container .section-content .nemesis img {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: auto;
}
section .section-container .section-content .alliés {
  position: relative;
  width: calc(100% + 150px + 102px);
}
section .section-container .section-content .alliés img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: auto;
  z-index: 0;
}
section .section-container .section-content h1 {
  font-family: "rajdhani", sans-serif;
  font-size: 36px;
}
section .section-container .section-content p {
  padding-top: 20px;
  text-align: justify;
}
section .section-container .section-content .normal-text {
  font-family: "space grotesk regular", sans-serif;
}
section .section-container .inline-images {
  margin-left: 75px;
  margin-right: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
}
section .section-container .inline-images .characters {
  position: relative;
  transform: scale(0.8);
  transition: 0.2s ease;
  z-index: 1;
}
section .section-container .inline-images .characters .actor {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 25%;
  width: 100%;
  align-items: center;
  border-top: 3px solid rgba(196, 196, 196, 0.1);
  opacity: 0;
  transition: opacity 0.2s ease;
}
section .section-container .inline-images .characters .actor img {
  display: flex;
  width: 22%;
  height: auto;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 25px;
  z-index: 2;
}
section .section-container .inline-images .characters .actor p {
  position: absolute;
  font-family: "space grotesk regular", sans-serif;
  font-size: 10px;
  padding: 20px 50px 20px 50px;
  border-radius: 40px;
  margin-left: 60px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 0, 0, 0.1) 80%, rgba(255, 0, 0, 0.15) 100%);
}
section .section-container .inline-images .characters:hover {
  transform: scale(0.9);
}
section .section-container .inline-images .characters:hover .actor {
  opacity: 1;
}
section .section-container .justice-league {
  margin-left: -102px;
  width: 98.7vw;
}
section .section-container .synopsis-video {
  padding-top: 50px;
  margin-right: -75px;
}
section .section-container .synopsis-video .section-multimedia {
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  display: flex;
  padding-bottom: 20px;
  transform: scale(0.9);
}
section .section-container .synopsis-video .section-multimedia .bat-synopsis {
  display: flex;
  width: 500px;
  padding-right: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(100deg, rgba(237, 222, 191, 0.3), rgba(25, 88, 125, 0.3));
}
section .section-container .synopsis-video .section-multimedia .bat-synopsis .trailer-image {
  padding-right: 8px;
}
section .section-container .synopsis-video .section-multimedia .bat-synopsis .trailer-image img {
  height: 100%;
  width: auto;
}
section .section-container .synopsis-video .section-multimedia .bat-synopsis .batman-begins p {
  font-family: "space grotesk regular", sans-serif;
  font-size: 11px;
  padding: 7px;
}
section .section-container .synopsis-video .trailer-video {
  text-align: center;
}

footer {
  position: absolute;
  width: 100%;
}
footer .form-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(100deg, rgba(237, 222, 191, 0.3), rgba(25, 88, 125, 0.4));
  border-top: 2px solid rgba(196, 196, 196, 0.2);
  border-bottom: 2px solid rgba(196, 196, 196, 0.2);
}
footer .form-container .form {
  width: 45%;
  margin: auto;
}
footer .form-container .form h2 {
  font-family: "space grotesk regular", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}
footer .form-container .form label {
  font-family: "space grotesk regular", sans-serif;
  color: white;
}
footer .form-container .form ::-moz-placeholder {
  font-family: "space grotesk regular", sans-serif;
  background-color: inherit;
  color: #C4C4C4;
}
footer .form-container .form input,
footer .form-container .form select,
footer .form-container .form option,
footer .form-container .form textarea,
footer .form-container .form .form-text,
footer .form-container .form ::placeholder {
  font-family: "space grotesk regular", sans-serif;
  background-color: inherit;
  color: #C4C4C4;
}
footer .form-container .form input,
footer .form-container .form select,
footer .form-container .form textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(196, 196, 196, 0.5);
}
footer .form-container .form input[type=checkbox],
footer .form-container .form input[type=radio] {
  width: auto;
}
footer .form-container .form .choice {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
footer .form-container .form .choice input {
  opacity: 0;
  cursor: pointer;
}
footer .form-container .form .choice label {
  padding: 10px 20px;
  background-image: linear-gradient(100deg, rgba(237, 222, 191, 0.3), rgba(25, 88, 125, 0.4));
}/*# sourceMappingURL=styles.css.map */