* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    position: relative;
}

// Les polices 
  @font-face {
    font-family: 'rajdhani';
    src: url("../polices/Rajdhani-Medium.ttf");
  }
  @font-face {
    font-family: 'space grotesk bold';
    src: url("../polices/SpaceGrotesk-Bold.ttf");
  }
  @font-face {
    font-family: 'space grotesk regular';
    src: url("../polices/SpaceGrotesk-Regular.ttf");
  }

$h1-font : "rajdhani", sans-serif;
$normal-font : "space grotesk regular", sans-serif;
$button-font : "rajdhani", sans-serif;

// Mise en place des icônes fixes à droite de l'écran 
  .vertical-icons {
    position: fixed;
    right: 0;
    margin-right: 88px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .vertical-icons {
        a .social-network {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            transform: scale(0.8);
        }
            a .social-network:hover {
                filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
            }

        .bat-icon {
            transform: scale(3.0);
            margin-top: 20px;
            margin-bottom: 20px;
        }
            .bat-icon:hover {
                filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
            }

        img {
            width: 30px;}
    }

    // Format mobile des icônes verticales
    @media screen and (max-width : 600px) {
        .vertical-icons {
            position: fixed;
            right: 0;
            margin-right: 2%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
          }
        
        .vertical-icons {
            a .social-network {
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
                transform: scale(0.8);
                .social-network:hover {
                    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
                }
            }
        
            .bat-icon {
                transform: scale(2.5);
                margin-top: 20px;
                margin-bottom: 20px;
            }
                .bat-icon:hover {
                    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
                }
        
            img {
                width: 30px;}
        }
    }

// Les lignes de bordure de gauche et de droite
.line-left {
    position: absolute;
    left: 0;
    margin-left: 102px;
    height: 100%;
    width: 3px;
    background-color: rgba(196, 196, 196, 0.2);
}
.line-right {
    position: absolute;
    right: 0;
    margin-right: 102px;
    height: 100%;
    width: 3px;
    background-color: rgba(196, 196, 196, 0.2);
}

// Les styles du header 
header {
    background-image: url("../Illustrations/Bathome1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    border: 1px solid transparent;
    .down-header {
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

    nav {
        display: flex;
        position: relative;
        height: 132px;
        align-items: center;
        overflow: visible;
        border-bottom: 3px solid rgba(196, 196, 196, 0.2);
        margin: 0 102px 0 102px;
    }
    nav {
        .home-icon {
            padding: 0 5px;
            margin-left: 50px;
            transition: 0.3s;
            img:hover {
                filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
              }
          }
     .menu {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 50px;
        .menu-home {
            display: flex;
        }
        
        .menu-button {
            background: none;
            border: none;
            cursor: pointer;
            color: #fdfcfc;
            font-family: $button-font;
            font-size: 20px;
            a {
                text-decoration: none;
                color: white;
            }
        }

            .menu-button:hover,
            .menu-button:focus {
                text-decoration: underline;
                color: #f8f184;
                font-weight: bold;
            }
        
            .menu-dropdown {
                display: none;
                white-space: nowrap;
                li {
                    display: flex;
                    a {
                        font-size: 16px;
                        font-weight: none;
                        text-decoration: none;
                        font-family: $normal-font;
                        color: #C4C4C4;
                    }
                    a:hover {
                        text-decoration : underline;
                        color : #f8f184;
                    }
                }
              }

        .menu-home:hover .menu-dropdown,
        .menu-home:focus .menu-dropdown {
            position: absolute;
            display: block;
            background-color: #0d0e09be;
            margin-top: 20px;
            padding: 10px;
            margin-left: -100px;
        }

        .menu-game {
            .game-button {
                background: none;
                border: none;
                color: #fdfcfc;
                font-family: $button-font;
                font-size: 20px;
                right: 0;
                padding-left: 50px;
                a {
                    text-decoration: none;
                    color: white;
                }
                a:hover {
                    text-decoration: underline;
                    color: #f8f184;
                    font-weight: bold;
                }
            }
        }
        // Ici, on ajoute le style du menu quand on est sur la page active
        .active {
            a {
                text-decoration: underline;
                color : #f8f184;
                font-weight: bold;
            }
        }
     }
    }

// L'élément suivant de la page Home qui est toujours dans le header
.header-container {
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    p {
        font-family: $normal-font;
        color: white;
        padding-bottom: 50px;
    }
    .header-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            text-decoration: none;
            color: white;
        }
        button {
            width: 170px;
            padding: 10px 0;
            margin-left: 20px;
            margin-right: 20px;
            border: none;
            font-family: $button-font;
            font-size: 18px;
            background: linear-gradient(to right, rgba(237, 220, 239, 0.250) 40%, rgba(237, 220, 239, 0.1) 70%);
        }
        button:hover {
            background: linear-gradient(to right, rgba(237, 220, 239, 0.6), rgba(237, 220, 239, 0.2));
            box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
        }
    }
}

// Nous entrons maintenant dans la première section de la page 
section {
    margin-top: 75px;
    position: relative;
    .section-container {
        margin-left: 102px;
        margin-right: 102px;
        .section-content {
            margin-left: 75px;
            margin-right: 200px;
            color: white;
            text-align: justify;
            padding-bottom: 30px;
            h1 {
                font-family: $h1-font;
            }
            .normal-text {
                font-family: $normal-font;
            }
        }
        .inline-images {
            margin-left: 75px;
            margin-right: 75px;
            display: flex;
            justify-content: center;
            text-align: center;
            .characters {
                position: relative;
                transform: scale(0.8);
                transition: 0.2s ease;
                .actor {
                    position: absolute;
                    display: flex;
                    bottom: 0;
                    height: 25%;
                    width: 100%;
                    align-items: center;
                    border-top: 3px solid rgb(196, 196, 196, 0.1);
                    opacity: 0;
                    transition: opacity 0.2s ease;
                    img {
                        display: flex;
                        width: 22%;
                        height: auto;
                        border-radius: 50%;
                        margin-left: 30px;
                        margin-bottom: 25px;
                        z-index: 2;
                    }
                    p {
                        position: absolute;
                        font-family: $normal-font;
                        font-size: 10px;
                        padding: 20px 50px 20px 50px;
                        border-radius: 40px;
                        margin-left: 60px;
                        background-image: linear-gradient(to right, rgb(255, 255, 255, 0.2) 20%,rgb(255, 0, 0,0.1) 50%);
                    }
                }
            }
            .characters:hover {
                transform: scale(0.9);
                .actor {
                    opacity: 1;
                }
            }
        }
    }
}