* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

@font-face {
  font-family: "rajdhani";
  src: url("../polices/Rajdhani-Medium.ttf");
}
@font-face {
  font-family: "space grotesk bold";
  src: url("../polices/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "space grotesk regular";
  src: url("../polices/SpaceGrotesk-Regular.ttf");
}
.vertical-icons {
  position: fixed;
  right: 0;
  top: 30%;
  left: 90%;
  z-index: 1;
}

.vertical-icons a .social-network {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: scale(0.8);
}
.vertical-icons a .social-network:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}
.vertical-icons .bat-icon {
  transform: scale(3);
  margin-top: 20px;
  margin-bottom: 20px;
}
.vertical-icons .bat-icon:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}
.vertical-icons img {
  width: 30px;
}

@media screen and (max-width: 400px) {
  .vertical-icons {
    position: fixed;
    right: 0;
    top: 30%;
    left: 89%;
    z-index: 1;
  }
  .vertical-icons a .social-network {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(0.8);
  }
  .vertical-icons a .social-network .social-network:hover {
    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  }
  .vertical-icons .bat-icon {
    transform: scale(2.5);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vertical-icons .bat-icon:hover {
    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  }
  .vertical-icons img {
    width: 30px;
  }
}
nav {
  display: flex;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  overflow: visible;
}

nav .home-icon {
  padding: 0 5px;
  transition: 0.3s;
}
nav .home-icon img:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}
nav .menu-home {
  size: 30px;
  display: flex;
  margin-left: 60%;
}
nav .menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fdfcfc;
  font-family: "rajdhani", sans-serif;
  font-size: 20px;
  width: 90px;
  height: 50px;
}
nav .menu-button a {
  text-decoration: none;
  color: white;
}
nav .menu-button:hover,
nav .menu-button:focus {
  text-decoration: underline;
  color: #f8f184;
}
nav .menu-dropdown {
  display: none;
  white-space: nowrap;
}
nav .menu-dropdown li a {
  font-size: 16px;
  font-weight: none;
  text-decoration: none;
  font-family: "space grotesk regular", sans-serif;
  color: #C4C4C4;
}
nav .menu-dropdown a:hover {
  text-decoration: underline;
  color: #f8f184;
}
nav .menu-home:hover .menu-dropdown,
nav .menu-home:focus .menu-dropdown {
  position: absolute;
  display: block;
  background-color: rgba(13, 14, 9, 0.7450980392);
  margin-top: 38px;
  padding: 5px;
}
nav .game .game-button {
  background: none;
  border: none;
  color: #fdfcfc;
  font-family: "rajdhani", sans-serif;
  font-size: 20px;
  width: 90px;
  height: 50px;
}
nav .game .game-button a {
  text-decoration: none;
  color: white;
}
nav .game .game-button a:hover {
  text-decoration: underline;
  color: #f8f184;
}
nav .active a {
  text-decoration: underline;
  color: #f8f184;
}/*# sourceMappingURL=styles.css.map */