html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../Illustrations/Bathome1.png");
  background-clip: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  margin: 132px 102px;
  border: 3px solid #bcbbbd5e;
}

section {
  position: relative;
}
/* Les polices */
@font-face {
  font-family: 'rajdhani';
  src: url("../polices/Rajdhani-Medium.ttf");
}
@font-face {
  font-family: 'space grotesk bold';
  src: url("../polices/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: 'space grotesk regular';
  src: url("../polices/SpaceGrotesk-Regular.ttf");
}

/* Animation d'opacité et de défilement de la gauche vers la droite */
header,
section,
.vertical-icons {
  opacity : 0;
  animation: fade-in 2s ease-in forwards;
}

    @keyframes fade-in {
      from {opacity: O;
            transform: translateX(-100%);}
          to {opacity: 1;
              transform: translateX(0);}
}

.header-top {
    display: flex;
    position: relative;
    top: -100px;
}
  .home-icon {
    padding: 5px;
    transition: 0.3s;
  }
    .home-icon img:hover {
      filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
    }
  
.menu-home {
    size: 30px;
    display: flex;
    margin-left: 80%;
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fdfcfc;
    font-family: 'rajdhani';
    font-size: 20px;
    background-image: linear-gradient(80deg, #19587d69,#19587d85);
    width: 90px;
    height: 50px;
  }

  .menu-dropdown {
    display: none;
    white-space: nowrap;
  }

  .menu-dropdown li a {
    font-size: 16px;
    font-weight: none;
    text-decoration: none;
    font-family: "space grotesk regular";
    color: #C4C4C4;
  }

  .menu-button:hover,
  .menu-button:focus {
    background-image: linear-gradient(to right, #156492af,#1b638d85);
    text-decoration: underline;
  }

  .menu-home:hover .menu-dropdown,
  .menu-home:focus .menu-dropdown {
    display: block;
    background-color: #0d0e09be;
    margin-top: 25px;
    margin-left: -260px;
    padding: 10px 10px 10px 20px;

  }
  
  .menu-dropdown li a:hover,
  .menu-dropdown li a:focus {
    font-weight: bold;
    text-decoration: underline;
  }

  .vertical-icons {
    position: fixed;
    right: 0;
    top: 30%;
    left: 91%;
    z-index: 1;
  }

  .vertical-icons a .social-network {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scale(0.8);
  }

  .vertical-icons a .social-network:hover {
    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  }

  .bat-icon {
    transform: scale(3.0);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bat-icon:hover {
    filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  }

  .vertical-icons img {
    width: 30px;
  }

  .header-container {
    text-align: center;
    margin-top: 250px;
  }

  .header-content {
    justify-content: center;
    margin-bottom: 100px;
  }

 .intro {
  font-family: "space grotesk regular";
  font-size: 18px;
  color: #fff;
 }

  .header-buttons {
    display: inline-block;
    margin-bottom: 250px;
  }

  .button {
    background: linear-gradient(80deg, #eddbef67,#19587d67);
    background-size: 100% 100%;
    padding: 10px 10px ;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    font-family: "rajdhani";
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
  }

  .button:hover {
    background-image: linear-gradient(80deg, #eddbefbd,#19587da4);
    opacity: 1;
  }

  .down-header {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  header {
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
  }
  
  section {
    margin: 50px 0 0 0;
    padding: 0;
  }

  .section-container {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: "rajdhani";
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    
  }

.section-content {
    margin: 0;
    padding: 0;
    color: #C4C4C4;
    margin-right: 70px;
    text-align: justify;

}

.section-content h1,
.section-content p {
  margin-left : 120px;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.normal-text {
  font-family: "space grotesk regular";
  font-size: 18px;
  color: #C4C4C4;}

.inline-images {
    text-align: center;
    margin: 0;
}

.inline-images ul li {
    display: inline-block;
    transform: scale(0.8);
}
  
.image-zoom {
    transition: 0.3s;
    margin-left: -25px;
    margin-right: -25px;
}
  
  .image-zoom:hover {
    transform: scale(0.9);
  }
  
  figcaption {
    font-family: "space grotesk regular", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover figcaption,
  a:focus figcaption {
    font-family: "space grotesk regular", sans-serif;
    text-decoration: underline;
    color: #FFFF00;
  }

  /* Mise en forme de l'image à coté du titre némésis*/
  .nemesis {
    display: flex;
    width: 350px;
    padding-top: 40px;
    position: relative;
  }
    .nemesis img {
      width: 150px;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
  
  /* Ajout de l'image entre la section Némésis et Alliés */
    .alliés {
      display: flex;
      position: relative;
      margin-right: -16%;
    }
    .alliés img {
      position: absolute;
      right: 0;
      bottom: 0;
    }

  /* Mise en page de la section Justice League */
  .justice-league {
    margin-top: 20px;
    width: 122%;
    margin-left: -150px;
    height: auto;
    z-index: 0;
  }

/* Mise en forme de la section multimédia */

  h2 {
    font-family: "space grotesk regular", sans-serif;
    font-size: 12px;
  }

/* Ajout d'une image et de la description */
.synopsis-video {
  position: relative;
  margin: 0;
  width: 106%;
}

  .section-multimedia {
    position: relative;
    display: flex;
    position: relative;
    width: 70%;
    margin: auto;
  }
  
  .synopsis {
    font-family: "space grotesk", sans-serif;
    color: #FFFFFF;
  }

  .icon-arrow {
    display: flex;
    align-items: center;
  }

.bat-synopsis {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  transform: scale(0.6);
  width: 90%;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.3s ease-in-out;
}

.bat-synopsis:hover {
  transform: scale(0.65);
}
  .trailer-image {
    display: flex;
  }

  .batman-begins {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right,#eddebf60, #19587d5d);
  }

  .batman-begins > p {
    margin: 20px 10px 20px 10px;
  }
    .batman-begins p:first-child {
      font-family: "space grotesk bold";
      letter-spacing: 3px;
    }
    .batman-begins p:last-child {
      font-family: "space grotesk regular";
    }
    #batman-title {
      font-family: "rajdhani";
      font-size: 24px;
    }
    #imdb {
      font-family: "space grotesk regular";
    }
  
  .section-multimedia ul li {
    display: inline-block;
  }

/* Bande annonce de Batman begins */
.trailer-video {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.empty {
  height: 120px;
}

/* Mise en forme du formulaire */

.form-container {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to right, rgba(237, 222, 191, 0.288),rgb(25, 88, 125, 0.30)) ;
  margin: 0 -102px 0;
  padding-right: 18%;
}

.formulaire {
  position: relative;
  font-family: "space grotesk regular";
  color: #C4C4C4;
  margin-left: 35%;
}

  .formulaire h2 {
    font-family: "space grotesk bold";
    font-size: 32px;
    color: #fff;
    margin-left: 20%;
  }

  label {
    font-family: "space grotesk regular";
    font-size: 20px;
  }
  select,
  ::placeholder {
    font-family: "space grotesk regular";
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #c4c4c4ab;
    background-color: inherit;
    color: #C4C4C4;
    display: flex;
  }

select[id="news"] {
    padding-bottom: 20px;
    padding-right: 270px;
}

  input[type="email"] {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    padding-right: 275px;
  }

.form-text {
  font-size: 14px;
}
#news {
  border-bottom: 2px solid #C4C4C4;
  padding-top: 20px;
  margin-right: 10px;
}
input[type="radio"] {
  opacity: 0;
  text-align: center;
}
.choice {
    display: inline-flex;
    padding: 10px 30px 10px 10px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.3),rgb(25, 88, 125, 0.30));
    cursor: pointer;
}
  .choice label {
      font-size: 14px;
  }
    .choice:hover,
    .choice:focus {
      background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4),rgb(25, 88, 125, 0.50));
    }

textarea {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #C4C4C4;
}

  input[type="submit"] {
    margin-left: 40%;
    background-image: linear-gradient(to right, rgb(237, 222, 191,0.4), rgba(226, 37, 37, 0.952));
    padding: 10px 20px 10px 20px ;
    border: none;
    border-radius: 5px;
    font-family: "space grotesk regular";
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  option {
    background-color: inherit;
  }

/* Les éléments du footer*/
footer {
  position: relative;
}

.footer-container {
     position: relative;
     display: flex;
     justify-content: center;
}

.quotation-container {
  position: relative;
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 150px;
  margin-top: 150px;
}
/* Les guillemets*/
    .quote1,
    .quote2 {
        display: flex;
        transform: scale(0.8);
    }
    .quote1 {
        float: left; 
    }
    .quote2 {
      float: right;
    }

/*La citation*/
.quotation {
    color: white;
    font-family: "space grotesk regular";
    padding: 50px 20px 10px 20px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.quotation p:first-child {
    font-size: 16px;
}
.quotation p:last-child {
    font-size: 12px;
    color: #c4c4c4;
}

/* La fin de page */
.footer {
    width: 60%;
    margin: auto;
    transform: scale(0.8);
}

.origin {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer div {
  width: 80%;
  margin: auto;
  padding: 20px;
}
.footer p {
  display: flex;
  font-size: 10px;
  font-family: "space grotesk regular";
  color: #c4c4c4c2;
}

.wb {
  display: flex;
  float: left;
  padding-right: 5px;
}
.footer-logo {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;

}
#social {
    margin-left: 40px;
}
.merge {
  transform: scale(0.8);
}
.merge:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
  transform: scale(0.9);
}
#social:hover {
  filter: invert(4%) sepia(96%) saturate(4618%) hue-rotate(346deg) brightness(96%) contrast(111%);
}